[2016-01-04 19:25] client9 opened #3 "Output doesnt understand multi-word corrections (e.g. "everytime" -> "every" vs. "every time")"
The output right now doesn't understand replacements with multiple words

got:
[code]

want:
[code]

[2016-01-04 19:36] client9 opened #4 "documentation on how to update rules"
Currently I just pulled from wikipedia for a word list.

Doco how to add different word lists.

Doco how to manually add words.

[2016-01-04 19:37] client9 opened #5 "Consider adding flags to add/remove rules at command line"
It likely some words will trigger false positives or a user has a special word correction.

It should be easy to do.

[2016-01-07 08:20] client9 opened #6 "Need flag to add US->UK or UK->US corrections"

[2016-01-11 07:17] shawnps opened #7 "Skip checking import lines"
@client9 not sure if this is a good thing to add or not, but I'm testing out misspell on Go Report Card and I see it's checking some import lines:

`Line 11: warning: corrected "\"github.com/luci/gae/service/datastore\"" -> "\"github.com/luci/game/service/datastore\"" (misspell)`

[2016-01-11 07:17] shawnps opened #8 ""Dont->Don't" is being correct inside a var name"
`Line 90: warning: corrected "deb.VersionDontCare" -> "deb.VersionDon'tCare" (misspell)`

[2016-01-11 07:27] shawnps opened #9 "Line # is off by 1"
[code]

Says it's line 34, but the word doesn't appear in that line:
[code]

It's in the next line, 35:
[code]

[2016-01-11 07:31] shawnps commented on #9
https://github.com/client9/misspell/pull/10

[2016-01-11 15:04] shawnps opened #11 "warning: corrected "pruning" -> "prunning" (misspell)"
I think "pruning" is actually fine here

[2016-01-11 18:58] client9 commented on #7
this one i think is already fixed if you do a pull.

[2016-01-11 19:02] #8 closed

[2016-01-11 19:03] client9 commented on #9
pull request merged in.

[2016-01-11 19:03] #9 closed

[2016-01-11 19:06] #11 closed

[2016-01-11 19:07] client9 commented on #7
correct.. already fixed.

[2016-01-11 19:07] #7 closed

[2016-01-11 20:14] client9 opened #12 "Option to only check comments and perhaps raw strings"
Option to only check comments and raw strings

[2016-01-11 22:23] client9 commented on #5
ignore rule is present, good enough for now.

[2016-01-11 22:23] #5 closed

[2016-01-12 00:41] shurcooL opened #13 "Possible issue with plural spelling of "guise"."
Mentioned by @danieldk in https://github.com/avelino/awesome-go/pull/754#issuecomment-170501869:

[2016-01-12 02:00] client9 commented on #13
thx!

I'm not sure I know the plural of guise :-)

[2016-01-12 02:07] #13 closed

[2016-01-12 18:44] client9 opened #15 "rework to be API-first"
Currently, the `misspell` repository is ordered like

* main is at top level
* code is in a sub-directory called "lib"

I'm going to change this to

* misspell is a golang package
* the cmd / cli will be in a subdirectory cmd/misspell

This will help with automated tools like go cov, goreportcard / godoc / gocover.io, etc.

Thoughts @shawnps @jgautheron @shurcooL please.

regards,

n

[2016-01-12 18:48] paulmach opened #16 "Do not correct URLs"
Kind of a funny example:
[code]

Suggestion: should not correct urls, possibly by ignoring words with leading and/or trailing slashes.

Discovered at: http://goreportcard.com/report/paulmach/go.geo

[2016-01-12 19:10] client9 commented on #16
great.. yeah I've seen this too and its annoying.

will investigate.

n

[2016-01-12 23:29] #3 closed

[2016-01-13 00:29] client9 commented on #15
this is done.

[2016-01-13 00:29] #15 closed

[2016-01-13 01:58] client9 commented on #16
Hi @paulmach

`misspell` got fixed up so this and other long strings of no-white-space-text won't trigger a false positive like this.

I'll ping @shawnps to update goreportcard and you should get 100%

thanks!

n

[2016-01-13 01:58] #16 closed

[2016-01-13 08:00] shurcooL commented on #15
This sounds like an improvement. :+1:

[2016-01-13 08:01] shurcooL commented on #16
How is "long" defined?

[2016-01-13 09:06] jgautheron commented on #15
:+1:

[2016-01-13 17:11] client9 commented on #16
Im very happy to adjust this @shurcooL

[code]

[2016-01-13 18:28] shawnps opened #17 ""interfce" not detected"
should be corrected to "interface" probably

[2016-01-13 18:56] client9 commented on #17
def!

[2016-01-13 18:56] client9 commented on #17
I love this is idea of spell check based on actual mistakes vs. "is it a word I know"

[2016-01-13 18:57] #17 closed

[2016-01-23 05:18] shawnps opened #18 "fix currate => curate"

[2016-01-23 05:19] shawnps commented on #18
saw this in the wild, so figured i'd file an issue. feel free to close if you think it's not important/relevant @client9

[2016-01-23 05:30] shawnps opened #19 "fix retuns => returns"

[2016-01-23 22:52] client9 commented on #18
always relevant.

My hypothesis is that "you are not alone in your mistakes" ... meaning, if one person makes this typo, its highly likely others will too.

[2016-01-23 23:39] shawnps opened #20 "fix some article/noun mistakes?"
for example, it will never be "an request", always "a request"

[2016-01-25 16:43] #19 closed

[2016-01-25 16:45] #18 closed

[2016-01-25 16:45] client9 commented on #20
hmm grammar is a different story.  thinking...

[2016-01-29 07:42] shawnps opened #21 ""committing" flagged as error"
I think "committing" is actually okay:

`warning: 13:found "committing" a misspelling of "comitting" (misspell)`

[2016-01-29 07:44] shawnps commented on #21
oddly, I don't see this in `lib/wikipedia.go`. Maybe my version of misspell on Go Report Card is out of date. checking...

[2016-01-29 07:45] shawnps commented on #21
Nope, still shows up. Weird.

[2016-01-29 09:42] shurcooL commented on #21
Committing is indeed correct spelling. [1]

[1] https://www.google.com/search?q=committing

[2016-01-29 17:47] client9 commented on #21
weird!

[2016-01-29 17:48] client9 commented on #21
can you send over the full line of text?

[2016-01-29 23:55] shawnps commented on #21
@client9 here is one example:

`// make up committing latency.`

https://github.com/coreos/etcd/blob/master/lease/lessor.go#L347

[2016-01-30 00:24] shawnps commented on #21
@client9 I think I found the issue:

[code]

[2016-01-30 06:14] client9 commented on #21
ping pong.. thanks @shawnps

I will soon have a way of checking these false positives automatically

[2016-01-30 22:43] client9 opened #22 "Enumeration of False positives"
see #21

[code]

[2016-01-30 22:45] client9 commented on #21
see #22

[2016-01-30 22:45] client9 commented on #21
automation FTW
[code]

[2016-01-30 22:53] #21 closed

[2016-02-01 04:01] client9 opened #24 "False positive for "setuptools" -> "upto" -> "up to""
2016/01/31 20:01:10 line 1: Found "upto" in "setuptools"  ("up to")
--- FAIL: TestFalsePositives (0.01s)
	falsepositives_test.go:90: 0: "setuptools" got converted to "setup tools"

[2016-02-01 04:04] #24 closed

[2016-02-01 16:29] client9 opened #25 "FP interference -> interference oops"

[2016-02-01 16:30] #25 closed

[2016-02-06 11:53] shawnps opened #26 "found "embarrassing." a misspelling of "embarrasssing." (misspell)"
"embarrassing" is the correct spelling

[2016-02-06 11:53] shawnps commented on #26
[code]

[2016-02-07 19:02] client9 commented on #26
aye

[2016-02-09 18:09] Thomasdezeeuw opened #27 "Found "scientists" a misspelling of "scientistts" (misspell)"
Found it on https://goreportcard.com/report/github.com/docker/docker, but it doesn't seem correct.

[2016-02-10 16:39] client9 commented on #27
thanks, I'll sort this out today.
My apologies!

[2016-02-12 00:43] tamird opened #28 "found "causally" a misspelling of "causually""
https://en.wiktionary.org/wiki/causally

[2016-02-13 04:07] client9 commented on #26
see #22

[2016-02-13 04:07] client9 commented on #27
see #22

[2016-02-13 04:07] client9 commented on #28
see #22

[2016-02-13 04:15] #28 closed

[2016-02-13 04:15] client9 commented on #28
thanks so much.

[2016-02-13 04:19] #26 closed

[2016-02-13 04:20] client9 commented on #27
[code]

[2016-02-13 04:23] client9 commented on #27
fixed in last commit.

Thanks for your report, and sorry for the false positive.

[2016-02-13 04:23] #27 closed

[2016-02-13 04:24] client9 commented on #20
Grammar is really hard.  There are tools that to it however -- https://languagetool.org  but complicated.

[2016-02-13 04:24] #20 closed

[2016-02-13 07:05] shawnps commented on #26
@client9 hmm, still seeing this:

[code]

maybe there needs to be a space after as well, like `" embarras "`?

[2016-02-13 07:07] shawnps commented on #26
@client9 i just tried it locally and i think that fixes it. i'll make a PR

[2016-02-13 13:29] Thomasdezeeuw commented on #27
Thanks for the fix.

[2016-02-16 16:45] joeybloggs opened #30 "false positive with words "Bengali" and "Portuguese""
"Bengali" and "Portuguese" are being flagged as being misspelled

[code]

[2016-02-16 23:55] #30 closed

[2016-02-16 23:56] client9 commented on #30
See #22.  I can enumerate these False Positives and fix them once and for all.

Thanks for reporting.

[2016-02-25 05:32] client9 opened #31 "withhold vs withold"
Line 118: warning: 48:found "withhold" a misspelling of "withold" (misspell)

[2016-03-01 05:29] shurcooL commented on #4
Yes please. How do I? I just ran into an easy mispelling that `mispell` didn't catch.

[2016-03-01 05:37] shurcooL commented on #4
Oh, I just realized it didn't catch it for 2 reasons:

1. It's not supported by `misspell`.
2. It was a misspelling in a Go string, not inside a comment. So even after fixing 1, `misspell` still wouldn't find it. :/ Should I still make a PR?

[2016-03-02 19:09] client9 commented on #4
hi @shurcooL , sorry for the delay.

I'l add doco soon.

You can make misspell look at at everything using

[code]

This may mean it tries to correct variable names too.  Sometimes thats good, sometimes bad.

Let me know what you think.

[2016-03-07 09:17] shurcooL commented on #4
That's great, thanks for letting me know.

[2016-03-08 05:55] client9 commented on #22
all of these are fixed and tested again 160k word list.

[2016-03-08 05:55] #22 closed

[2016-03-08 05:56] client9 commented on #31
fixed

[2016-03-08 05:56] #31 closed

[2016-03-08 21:30] osklyar opened #33 "British spelling is treated as "common misspelling""
Being British I do not find the following example amusing

`your.txt:42:10 found "initialised" a misspelling of "initialized"`

in particular when I suddenly see it in the goreportcard.com status of my project (the only one of the originally 100% score):

`Line 109: warning: 55:found "initialised" a misspelling of "initialized" (misspell)`

Is there any good reason to treat English as English miss

[2016-03-08 22:29] client9 commented on #33
Ah,

I forgot about that example.  My apologizes.  I will fix that.

See https://github.com/client9/misspell/issues/6 for other details.

My immediate goal is to remove US,UK,CA and -lise, -lize variants.  Most of these are from Wikipedia list which I wish I did not use in retrospect.

Thanks for reporting.

n

[2016-03-08 22:36] xh3b4sd opened #34 "found "textinterface" a misspelling of "textincterface""
Hello there. I am wondering about some reported misspelling in my project. Please see https://goreportcard.com/report/github.com/xh3b4sd/anna.

[code]

Actually `textinterface` is correct because it describes a package name. Further `textincterface` cannot be found in the misspell project. Is this a bug? What can I do to get rid of this wrong report?

[2016-03-08 22:53] client9 commented on #33
False positives based on en-GB spelling.

[code]

[2016-03-08 23:25] riyazdf opened #35 "found "committed" a misspelling of "comitted""
After upgrading to the latest version earlier today, I think there might be a mistake with the misspelling error: `committed` should be the correct spelling

[code]
(code comment here: https://github.com/docker/notary/blob/master/tuf/tuf.go#L317)

[2016-03-09 01:13] client9 commented on #35
hmm, I will look!
thanks for report

[2016-03-09 01:16] #33 closed

[2016-03-09 01:29] client9 commented on #35
should be fixed now.  The problem was caused by conflicting rules for "omit" and "commit"

[2016-03-09 01:29] #35 closed

[2016-03-09 01:30] riyazdf commented on #35
just verified, thanks for resolving this so quickly! :+1:

[2016-03-09 01:33] #34 closed

[2016-03-09 01:34] client9 commented on #34
thanks for report!

Your code is correct.  I found the issue.  I will tell the go-reportcard guy to update.  You should be all fixed by the morning.

[2016-03-09 02:12] xh3b4sd commented on #34
Awesome @client9. Thanks for the fast reaction. Keep highrolling. <3

[2016-03-09 08:12] osklyar commented on #33
Thanks a lot!

[2016-03-09 15:44] client9 commented on #33
My apologies again... I'm definitely new to this space and to be honest, was unaware of the full diversity of English language!  Always feel free to file tickets on false positives (or negatives) that you find.

regards,

nickg

[2016-03-11 09:04] osklyar commented on #33
Hey, no worries. It's a great job you've done!

[2016-04-08 19:54] soniakeys opened #36 "fix Euclidian => Euclidean?"
Found in a comment in my own code. :/  Not sure how common my misspelling is, but mentions of Euclidean distances probably occur often enough in technical code.

[2016-05-02 16:04] client9 commented on #36
oh wow.. sorry for the delay.  I  like this one.   I'll add shortly.

[2016-05-04 04:43] shawnps opened #37 "found "preceeding" a misspelling of "precedeing" (misspell)"
i think the correction should be "preceding" not "precedeing"

[2016-05-07 22:35] shurcooL opened #38 "Consider "TOOD" -> "TODO"?"
I've found myself making this typo pretty often lately. I wonder if I'm the only one...

Saw it here recently:

https://github.com/golang/net/commit/2a35e686583654a1b89ca79c4ac78cb3d6529ca3

I did a grep on my own files, and found 8 matches across 5 files.

So I wanted to suggest for you to consider it. Feel free to close if you don't think it's a good idea.

**Edit:** Some other places I found in

[2016-05-25 07:48] client9 commented on #38
I'm very sure you are not the only one.

[2016-05-25 07:49] #38 closed

[2016-05-25 07:52] #36 closed

[2016-05-25 08:23] #37 closed

[2016-05-25 08:23] client9 commented on #37
weird... thanks @shawnps   not sure how this one slipped through.

[2016-05-25 20:50] mikemackintosh opened #39 "False positive for UNDERSTOOD"
the commit for #38 caused a false positive for `UNDERSTOOD`:

Example:

[code]

[2016-06-01 00:41] #39 closed

[2016-06-11 07:26] client9 opened #40 "more misspellings"
The wikipedia list is really crap

[code]

[2016-06-11 07:53] client9 commented on #40
stdin:53746:0:found "EXTERNALISE" a misspelling of "EXTERNALIZE"
stdin:53747:0:found "EXTERNALISED" a misspelling of "EXTERNALIZED"
stdin:53748:0:found "EXTERNALISES" a misspelling of "EXTERNALIZES"

[2016-06-11 07:57] #40 closed

[2016-06-13 08:49] client9 commented on #6
UK->US conversion is more-or-less done.

US->UK  help wanted.  I could reverse UK-US but I'm sure it will be missing items.

[2016-06-13 09:52] emead commented on #6
US->UK: `cheque->check` would be incorrect.

I haven't inspected the whole file, just spotted this at a glance.

[2016-06-13 16:57] client9 commented on #6
US->UK false positives...

[code]

[2016-06-13 21:15] #6 closed

[2016-06-13 21:18] client9 commented on #33
@osklyar -- you can now remove annoying degenerate American English using misspell!!

Try out `-locale UK` and watch it turn `color` back into `colour` etc.   Bugs and comments welcome, as I'm not an native British English speaker.

  README.md documentation gives more examples.

regards,

nickg

[2016-07-06 09:25] benma opened #41 "" witness" a misspelling of " withess""
Hi

[code]

`witness` and `witnessed` are correct, whereas the word `withess` does not exist.

[2016-07-07 02:56] erikus opened #42 "found "laready" a misspelling of "lalready""
From the debug log output it looks like misspell properly detects that laready is a misspelling of already but later says it's lalready.

~/go/src/github.com/luci/luci-go% misspell -debug common/cmpbin/doc.go
2016/07/06 19:52:15 line 1: Found "aready" in "ince its laready the MSb o"  ("already")
common/cmpbin/doc.go:77:38:found "laready" a misspelling of "lalready"
~/go/src/github.com/luci/luci-go

[2016-07-09 04:17] client9 commented on #41
wut.  Ok thats weird.  On it..   thanks for your report.

[2016-07-09 04:22] #41 closed

[2016-07-09 04:22] client9 commented on #42
on it.

[2016-07-09 04:25] #42 closed

[2016-07-09 04:26] client9 commented on #42
thanks for report.. misspell appears not to handle this case very well (first two letters transposed).  Thanks for your report.

[2016-07-09 17:22] erikus commented on #42
Thanks for the quick fix!

[2016-07-19 18:31] Smotko opened #43 "found "searchtypes;" a misspelling of "searchetypes;""
This is the only false positive `misspell` was able to find in our 100k+ LOC project, so awesome work!

[2016-07-19 19:55] client9 commented on #43
yuck!  I will fix!

glad you are finding it useful!

[2016-07-19 20:02] #43 closed

[2016-07-19 20:03] client9 commented on #43
fixed, thanks for the report.

[2016-07-19 20:10] Smotko commented on #43
You sir are awesome, thank you so much! 👍

[2016-07-26 11:00] scop opened #44 ""make" doesn't work OOTB"
After cloning the repository, simple `make` does not work out of the box. I'm a go newbie, so it's possible that I haven't done something that is expected of a working go setup (have set `PATH`, `GOROOT`, and `GOPATH`).

I see there are instructions to install with `go get -u github.com/[...]` but that's not very helpful when checking local modifications or preparing to send pull requests. Some `M

[2016-07-26 11:04] scop opened #45 "False suggestion: occourance -> occurance"
[code]

"occurance" should not have been suggested at all, but directly "occourance" -> "occurrence"

[2016-07-26 11:06] scop opened #46 "False suggestion: Implementor -> Implementer"
[code]

Implementor seems to be a valid alternative spelling to implementer.

http://www.dictionary.com/browse/implementor
https://en.wiktionary.org/wiki/implementor
http://english.stackexchange.com/questions/195699/implementor-vs-implementer

[2016-07-26 18:25] client9 commented on #45
yikes!

will fix.  I'm the midst of redoing this.

thanks for the report.

n

[2016-07-27 05:20] client9 commented on #45
fixed.  My apologies.
Please let me know if you find any thing else.

[2016-07-27 05:20] #45 closed

[2016-07-27 05:21] client9 commented on #46
oh great.  I'll remove from the list.

I plan on making a flag to handle these cases separately.

[2016-07-27 05:26] #46 closed

[2016-07-27 05:27] client9 commented on #46
thanks for this.... my dictionary just said "Implementor" was wrong.   All fixed now.

[2016-07-27 05:31] client9 commented on #44
wow, forgot about that directory.
Makefile is tightened up.  Thanks for your help!

[2016-07-27 05:40] client9 commented on #12
new version checks everything

[2016-07-27 05:40] #12 closed

[2016-07-27 06:25] scop commented on #44
Maybe the `lint` target needs similar adjustments as well?

[2016-07-27 07:26] scop opened #47 "Source mode selection is no-op"
Since f637716fde04d6bc34181663749fdd79cb4e0b27, source mode selection seems to be a no-op; no matter what mode is set to, the same `r.Replace(orig)` call is made, and `ReplaceGo` is no more.

If this is the way it's going to stay, I think it'd be better to remove the `-source` option altogether.

[2016-07-27 19:35] client9 commented on #47
hi @scop
The big overhaul last night did make some changes.  I plan on documenting this further today.
Correct source-mode is now deprecated and should be removed.  It is no longer needed as the accuracy is much improved.
n

[2016-07-27 21:02] client9 commented on #44
investigating.

[2016-07-28 18:39] #44 closed

[2016-07-28 18:39] client9 commented on #44
thanks again.. made this simpler (again).

[2016-07-28 19:00] gavv opened #49 "Build error"
[code]

[2016-07-28 19:02] gavv commented on #49
Sorry, fixed after:

[code]

[2016-07-28 19:08] gavv commented on #49
But it would be convenient to change instructions in README from:

[code]

to something like:

[code]

[2016-07-28 20:07] client9 commented on #49
hi @gavv  sorry for the errors a bit ago.

Do you use `misspell` as a library or as a CLI ?

[2016-07-28 20:12] gavv commented on #49
As a CLI.

[2016-07-28 20:23] client9 commented on #49
The directions should work as indicated... it appears you did a `go get` during a broken build and then your subsequent `go get` got the fix.

Please let me know if you still have problems (or any other suggestions!)

n

[2016-07-29 02:00] tamird opened #50 "misspell tries to modify images"
Against https://github.com/cockroachdb/cockroach/commit/ac79461eef6223544ee2d5ee49e908c94524767c

[code]

Needless to say, this corrupts the images.

[2016-07-29 02:01] tamird opened #51 "misspell tries to correct URLs"
Against cockroachdb/cockroach@ac79461

[code]

This is part of a link to https://en.wikipedia.org/wiki/Malcom_McLean

[2016-07-29 04:59] client9 commented on #50
Needless to say indeed.

I never thought it would be used on binary files!  interesting.

I can take a look at filter by suffix and mime/type but there will always be exceptions and problems.  I'll look into this but in the mean time, I would try

git ls-files | grep "*.go" (or whatever | xargs misspell

thanks for the report (and I see another one too).

n

[2016-07-29 04:59] client9 commented on #51
ahh good one.  I just changed the algorithm and this is a regression.  I will fix this.

thanks for the report.

n

[2016-07-29 06:03] #50 closed

[2016-07-29 06:05] client9 commented on #50
thanks again for the report,

I added some common mime types one typically sees in a web-app or as artifacts of a build process.  If one of these is found, it is skipped.

let me know if this solves your problem

regards,

n

[2016-07-29 06:19] client9 commented on #51
actually two problems... "Malcom" to "Malcolm" should not even be corrected.  I smell the wikipedia data set.   and then it should not be editing URLs.  on it.

[2016-07-29 06:41] scop opened #53 "Ignore files in SCM dirs"
As misspell now tries to ignore binary files, maybe it could try to ignore files in SCM dirs as well? For example skip if fed a file path containing dir component `.git`, `.svn`, `.hg`, `.bzr`, `CVS`, ...

[2016-07-29 06:45] #51 closed

[2016-07-29 06:45] client9 commented on #51
Ok you should be good to go!

Let me know what you think.

n

[2016-07-29 06:48] client9 commented on #53
I guess I'm the only one who likes `find` and `xargs`   :-)

[2016-07-29 06:52] client9 commented on #53
Is this causing you problems right now?  Can you give me an example of how you use misspell so that it is looking in these directories?

[2016-07-29 06:52] #49 closed

[2016-07-29 06:54] client9 commented on #53
Happy to take a look

[2016-07-29 06:59] scop commented on #53
Well it starts to get kind of inconvenient when one constructs a command that filters out all binary files (including possibly files that are binary based on their content, not just filenames!), all SCM files, etc etc

Usually I'm just lazy and invoke `find /some/where -type f | xargs misspell`

Ideally, I'd like to just feed a directory (or a few) to it and have it do the right thing: recurse the

[2016-07-29 07:05] client9 commented on #53
ahh ic ic  ok.  People are using it a bit differently than I expected (thats fine).  I've been doing something like this

`find /some/where -type f -name '*.py" | xargs misspell`

but I see now people are just running in on entire source trees (with   just `type f` or `git ls-files`).

Ok I understand.   I'm glad people are finding this useful.  We can add it

n

[2016-07-29 07:17] scop commented on #53
Yes, it's easy when one wants to check some specific file types. But for example, checking a typical python project consists of checking at least `*.py` and `*.rst`. Easy enough this far. Then, other files one probably wants to check if they exist in the projects include `*.cfg`, `*.html`, etc etc, and then also `README` and various other files that have no extension... I think it's a bit of an an

[2016-07-29 07:21] scop opened #54 "Ignore binary files based on content, not just filenames"
When deciding whether to ignore a binary file, the decision could/should be made also on the content of files, not just filenames.

Maybe https://golang.org/pkg/net/http/#DetectContentType could be used? If its return value starts with `text/`, treat as non-binary and proceed with check.

Or if that doesn't work for some reason, check for `\0` (nul) in the first (max) 512 bytes of a file and treat

[2016-07-29 07:36] client9 commented on #53
yeah I like this.  Since it allows the user (you!) to completely skip bash/find/grep

[2016-07-29 07:38] client9 commented on #53
In the meantime I think I have a method to skip the SCM directories.  Please let me know how it works.

[code]

[2016-07-29 07:39] client9 commented on #53
oops.. one sec

[2016-07-29 07:43] client9 commented on #54
ahh thanks, I was looking for this function.

yeah this is much better than file suffix.

[2016-07-29 08:34] gavv commented on #49
Ah, got it. Everything works now.

[2016-07-29 10:29] tamird commented on #50
Might be more resilient to use https://godoc.org/github.com/rakyll/magicmime#TypeByFile and/or https://godoc.org/mime#TypeByExtension.

[2016-07-29 16:05] client9 commented on #50
def.. thats now https://github.com/client9/misspell/issues/54

This "fix" was a stop gap so you could use the product (and I couldn't remember the library that sniffs the first 512 bytes-- https://golang.org/pkg/net/http/#DetectContentType ).  But I didn't know about these others.

I take a look and it will happen.

thanks so much.  You guys are using misspell is ways I didn't think of (good!)

[2016-07-29 16:06] client9 commented on #54
Other libraries:

Might be more resilient to use https://godoc.org/github.com/rakyll/magicmime#TypeByFile and/or https://godoc.org/mime#TypeByExtension. from @tamird in #50

[2016-07-29 16:12] client9 commented on #50
fwiw --

* https://godoc.org/github.com/rakyll/magicmime#TypeByFile  -- requires a C library
* https://godoc.org/mime#TypeByExtension. - requires apache httpd to be installed.  No really.  the internal table in golang is very small, but if apache httpd is install then it loads the mime table!!

I'll keep looking.

[2016-07-29 16:13] client9 commented on #54
fwiw --

* https://godoc.org/github.com/rakyll/magicmime#TypeByFile -- requires a C library
* https://godoc.org/mime#TypeByExtension. - requires apache httpd to be installed. No really. the internal table in golang is very small, but if apache httpd is install then it loads the mime table!! This is why I rolled my own for the hack.

I'll keep looking.

[2016-07-29 16:13] tamird commented on #54
Incredible.

[2016-07-29 16:48] scop commented on #54
Just out of interest, do you see net/http/#DetectContentType (+ check for return value starting with `text/`) problematic/broken/insufficient in some way?

[2016-07-29 17:58] client9 commented on #54
Hi @scop

I haven't look very carefully yet and @tamird suggested some others.

My first take is that it might be more complicated than we need... it appears to true a bunch of binary formats, THEN checks if the first part is UTF-8.  We might just be able to do the UTF-8 check.

But, if you have a  document in Latin-1 / ISO-8859-X then this would fail.  What do you think?

I have a good project th

[2016-08-01 19:58] client9 commented on #54
@scop @tamird check it out

[2016-08-03 13:03] gavv opened #55 "False positive: not a word"
Hi,

Thank for this tool.

Misspell reports error if it find "words" inside non-text strings, e.g. base64-encoded.

E.g.:

[code]

[code]

Could it try to detect non-text strings?

Possible criteria for non-text "word" (surrounded by spaces):

* long enough (e.g. 30 letters and more), and/or
* mixes letters and non-letters (e.g. digits) or uppercase and lowercase

I think even just ignoring errors

[2016-08-03 13:17] gavv opened #56 "Detecting missing letters?"
Does misspell detect typos with missing letters?

E.g. `confg` instead of `config`.

Is it in misspell scope? It would be very useful IMHO.

It's probably possible to generate all such typos statically, given a word list.

[2016-08-04 06:51] client9 commented on #55
Oh this is a bug.  I will look into this.

Thanks for the report.

n

[2016-08-04 07:15] #55 closed

[2016-08-04 07:16] client9 commented on #55
thanks for the report.
Yeah, the algorithm changed recently and had a regression.

This is now fixed!
thanks!

[2016-08-04 18:08] scop commented on #54
Seems to work well here, thanks.

Regarding the "TODO: we'd really like to prevent reading in multi-gig files just to ignore them" comment: `DetectContentType` is documented to consider at most 512 bytes of the data, so reading that much should be enough; then test and read the rest only if it's not binary?

[2016-08-08 07:53] #54 closed

[2016-08-08 07:55] client9 commented on #54
The reading logic is now in mime.go.  It isn't very optimized but probably good enough.   Enjoy.

n

[2016-08-08 08:00] scop commented on #54
Thanks, something seems a bit broken though:

[code]

[2016-08-08 08:11] client9 opened #59 "If given a directory, then recurse inside directory"
From Issue #53 via @scop

[code]

* Likely will add flags to disable checks for SCM or binary file test instead of the logic above
* Will need a way of excluding files

[2016-08-08 08:13] client9 commented on #53
closing this as the original issue is fixed.   Other issues moved to #59

[2016-08-08 08:13] #53 closed

[2016-08-08 08:37] client9 commented on #54
forgot to check in a file.  It was fixed.

[2016-08-08 08:58] client9 commented on #56
Interesting idea.  Try it out!

http://app.aspell.net/create?max_size=60&spelling=US&max_variant=1&diacritic=both&download=wordlist&encoding=utf-8&format=inline

I suspect you'll find a few problems:

* The word lists don't contain very many technical words, include many common ones.
* Some words will be need to be rejected since it's ambiguous  (bad example: is `fll`  `full`, `fill`, or `fall`?)

[2016-08-14 18:16] tamird opened #62 "false positive: found "computable" a misspelling of "compatible""
Found in https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/sql_interleaved_tables.md#L17.

[2016-08-14 18:19] tamird opened #63 "false positive: found "duplicative" a misspelling of "duplicate""
Found in https://github.com/cockroachdb/cockroach/blob/master/sql/parser/sql.y#L2215.

[2016-08-14 21:56] client9 commented on #62
great, I just added a massive new list.  will review.

[2016-08-14 21:56] client9 commented on #62
(an I need to add cockroachdb to me testing list)

[2016-08-14 22:00] #62 closed

[2016-08-14 22:00] #63 closed

[2016-08-14 23:40] client9 commented on #56
Hi @gavv  recently I added ~30,000 additional corrections.

let us know if it helps you.

n

[2016-08-15 03:43] shawnps opened #65 "golang code in sources dir breaks "go get""
[code]

[2016-08-15 04:11] client9 commented on #65
can you check @shawnps ?

[2016-08-15 04:12] shawnps commented on #65
@client9 seeing a different error now:

[code]

[2016-08-15 04:13] shawnps commented on #65
Seems to work if I don't do `/...` and do these instead:

[code]

[2016-08-15 04:14] shawnps commented on #65
README says to install with the second command so I'll close the issue. Thanks @client9!

[2016-08-15 04:14] #65 closed

[2016-08-15 07:24] client9 opened #66 "false positives"
apologies everyone.  the unit tests are failing but travis-ci is not picking up on it.

The failures here is are due to a sub-string of word being corrected, that ends up being a correct-but-different word.

e.g.
words-aspell-1.txt:22411:0:found "adventurers" a misspelling of "adventures"

There is no rule to do this.

Unfortunately, the rule

[code]
is converting `adventurers` into `adventures`

[2016-08-15 07:51] client9 commented on #66
Much improved.

the errors now are understandable.

[code]

[2016-08-16 08:21] client9 opened #68 "misspell attempts to process gpg files"
Can be done via suffix `.gpg` or `.sig` or by inspecting start of file

[code]

[code]

[2016-08-16 08:30] client9 opened #69 "easy output for CSV and sqlite3"
while one can customize the output, it would be nice to make it easy to emit CSV or sqlite3 output.

[2016-08-16 15:57] client9 opened #70 "When reading from stdin, the output goes to stderr, not stdout"
Bug.

[2016-08-16 15:59] #69 closed

[2016-08-16 15:59] #70 closed

[2016-08-16 18:54] client9 opened #71 "Need -o OUTPUT option instead of always dumping to stdout"
Need -o OUTPUT option instead of always dumping to stdout

[2016-08-16 21:45] client9 commented on #59
@scop works now, but needs some cleanup.  Should be ok for most use cases

No more `find . -type f | xargs misspell`   Just do  `misspell .`

[2016-08-16 21:54] client9 commented on #59
doco updated.

[2016-08-16 23:01] xh3b4sd opened #72 "misspell is marking all of its known words"
When I currently use `misspell` the following happens.

[code]

I have `misspell` currently integrated into one of my projects and right now it is not usable because of the described behaviour.

[2016-08-16 23:25] client9 commented on #72
Ugh sorry.

This is probably related to related to change for https://github.com/client9/misspell/issues/59

does `find . -not -path "./.git/*" -not -path "./.workspace/*"`

return  `.`  (the current directory?) ?

I suspect if you add `find . -type f` it will work.  maybe.

FYI -- -not -path "./.git/*"  is not needed.  Misspell ignores them automatically.

[2016-08-17 00:36] client9 opened #73 "initialize templates on demand instead of by func init()"
general cleanup, minor startup savings.

[2016-08-17 00:36] client9 opened #74 "debug mode should print timing of startup"
concerned it might be a bit slow now.

[2016-08-17 00:37] client9 opened #75 "debug mode should print files that are being processed"

[2016-08-17 00:51] #73 closed

[2016-08-17 06:04] #74 closed

[2016-08-17 06:30] #71 closed

[2016-08-18 02:49] #68 closed

[2016-08-18 17:36] 2opremio opened #76 "False positive: parallelise"
`CHANGELOG.md:864:2:found "Parallelise" a misspelling of "Parallels"`

[2016-08-18 17:47] client9 commented on #76
yuck.

So sorry.  fixing.   The unit tests that scan US and UK is not exiting correctly allow these false positives.

[2016-08-18 17:50] 2opremio opened #77 "Unexpected mispelling detection in identifier string"
[code]

which is simply an identifier (i.e. a false positive).

See https://github.com/weaveworks/scope/blob/41193b428ef9f8b93eff375e8634a802dcf79a7e/probe/kubernetes/controls.go#L115 .

[2016-08-18 17:51] #76 closed

[2016-08-18 17:52] client9 commented on #77
all that's a good one.  there are a few like "serverid" and others that should not be corrected, ever.

[2016-08-18 17:53] #77 closed

[2016-08-18 17:54] client9 commented on #77
thanks for your reports!

How did you hear of `misspell`?

[2016-08-18 17:58] 2opremio commented on #77
Thank **you** for the blazingly fast fixes!

I'm not sure, I think it was through https://goreportcard.com

[2016-08-18 18:40] client9 commented on #77
cool I have them update...

[2016-08-19 11:51] #75 closed

[2016-08-19 23:13] xh3b4sd commented on #72
Yes it does. It is the very first result this find command returns.

Using `-type f` in my `find` command does the trick for me. It looks like the `.` in my find command caused some kind of unwanted recursion. I am fine with closing this one.

[2016-08-19 23:13] #72 closed

[2016-08-20 00:33] client9 commented on #72
good... I will make a `-no-recurse` option as well as some other options shortly.

[2016-08-22 11:37] Smotko commented on #66
I'm probably experiencing the same issue with `requesters`

[code]

Is there any way to ignore this check until the fix gets merged?

[2016-08-22 16:47] client9 opened #78 "Memory improvements when double checking spelling corrections"
The double checking of output that occurs after the initial strings.Replacer is not so good.

- [x] native string concatenation (slow)
- [x] buffers not reallocated
- [x] buffers between diffLine and recheckLine not shared
- [x] diffs founds are done in diffLine and recheckLine and copied
- [x] fast case calls a function, only to return immediately
- [x] use of string.Split on newlines (over poten

[2016-08-22 16:52] client9 opened #79 "Consider callback instead of returning a []Diff"
Currently the API waits until the entire file is checked before returning the corrected string and
list of diffs.

Consider changing API so that  when a diff (i.e. a misspelling) a callback function is run.  The callback can then immediately print the error.

[2016-08-22 16:57] client9 opened #80 "When reading from stdin, iterate line by line instead of reading whole buffer"
When reading from `/dev/stdin`, `misspell` reads in the entire stream.

ideally this should be done line by line.  This would also provide an interesting test of performance of `io.Reader`/`io.Writer` vs. `string`

It may also force the API to use `[]byte` not `string`

[2016-08-22 20:25] client9 commented on #66
Hi @Smotko  sorry I missed your comment this morning.  You can try the `-i` flag  to ignore specific items.  I'll add this to the readme

[2016-08-22 20:30] client9 commented on #66
`requestors` is also added as being correct.

regards,

n

[2016-08-22 20:33] client9 commented on #66
Hi @Smotko

yes the `-i` flag works correctly.

# echo "zeebra" | misspell
stdin:1:0:found "zeebra" a misspelling of "zebra"
 # echo "zeebra" | misspell -i zebra
(no error)

[2016-08-22 21:26] client9 opened #81 "In report only mode: entire corrected document is captured, and thrown away"
Seems like we could do something smarter here.

[2016-08-23 03:47] #80 closed

[2016-08-24 07:45] scop opened #82 "Ignore *.po?"
*.po are translation files, and finding English misspellings in them isn't too useful. Maybe add them to the list of filenames that are ignored by default?

[2016-08-24 16:07] client9 commented on #82
Ahh good idea!  Can you send one and/or point to one on the web (or on linux /etc/??? ) so I can take a look

[2016-08-24 16:13] client9 commented on #82
hmmm looks like there are .pot and .mo as well, I'll look into this.

[2016-08-24 17:14] scop commented on #82
Here are some samples: https://github.com/search?q=extension%3Apo+msgid

Right, *.pot would be a candidate for exclusion too, but I suppose *.mo is already excluded due to binaryness.

Also, *.ts are usually Qt's similar translation files which could be excluded:
https://github.com/search?q=extension%3Ats+translation

[2016-08-24 22:44] client9 commented on #82
Oh cool query on github!  I didn't know about it.

[2016-08-25 01:10] client9 commented on #79
ReplaceReader is fully async with a callback

[2016-08-25 01:10] #79 closed

[2016-08-25 01:11] client9 commented on #59
this is working.
other enhancements will be in separate tickets.

[2016-08-25 01:11] #59 closed

[2016-08-25 01:11] client9 commented on #78
yeah

all done.

closing

[2016-08-25 01:11] #78 closed

[2016-08-25 04:45] client9 opened #83 "startup performance: 200ms is too slow"
Converting the word-list to a map: 80ms
Creating the strings.Replacer: 125ms

The first part is solved by generating the map in advance.
The second part is more problematic.   It would be nice just serializing the internal structure of replacer and then unmarshalling.  This would involve copying https://golang.org/src/strings/replace.go and modifying it so it can marshaled   Lots of pointers but I

[2016-08-25 08:52] client9 commented on #83
Down to around 150ms.

By making the map init smarter.  Also makes runtime faster.

[2016-08-25 19:59] Smotko commented on #66
Thanks alot @client9 this is very helpful!

[2016-08-31 19:09] client9 opened #84 "1400 False Positives"
This is to capture the commit that fixes about 1400 false positives.

This was done with improved English word lists.

[2016-08-31 19:10] #84 closed

[2016-08-31 19:25] client9 commented on #81
for stdin we are smarter.  For other files, we need the whole file to generate the exact location of the misspelling.

closing.

[2016-08-31 19:25] #81 closed

[2016-08-31 19:25] #56 closed

[2016-08-31 19:26] client9 commented on #83
It's improved.. closing for now.

[2016-08-31 19:26] #83 closed

[2016-08-31 19:26] client9 commented on #66
need to recheck this list.

[2016-09-01 14:32] scop opened #85 "Not flagged: initalize, initalizing, ..."
Addition suggestions:

initalize->initialize
initalizing->initializing
initalizer->initializer
(etc, initali*->initiali*)

[2016-09-01 16:15] client9 commented on #85
It's much nicer getting false negative reports from you instead of false positives :-)

This one will catch a lot of mistakes.

question for you: how are you using `misspell`      feel free to reply here or to nickg at client9 or nickg at signalsciences

[2016-09-01 16:17] client9 commented on #85
I won't add all of these, but here's the list of "*initial*"

[code]

[2016-09-02 01:09] #85 closed

[2016-09-02 01:11] client9 opened #86 "remove apostrophe rules from default"
historically `misspell` had some contractions and other apostrophe rules, i.e. `didnt->didn't`

Some problems:
* these could break programming languages syntax
* the list was very incomplete
* some people find the correction annoying

These rules should be turned into an option/flag

n

[2016-09-02 02:09] client9 opened #87 "misspell -error doesn't exit(2) if reading from stdin"
This explains why travis.ci hasn't been failing.

[2016-09-02 02:11] client9 commented on #87
Also on write error, exit 1 is not being returned.

The read from file case is handled correctly.

[2016-09-02 02:14] #87 closed

[2016-09-02 03:41] client9 commented on #86
likewise corrections that make one word into two ("website->web site")

[2016-09-02 03:44] #86 closed

[2016-09-02 03:47] client9 commented on #66
this now working.
closing.

[2016-09-02 03:47] #66 closed

[2016-09-02 03:51] client9 opened #88 "Unusual false positives, maybe"
These are quit unusual spellings or words.   They should either be removed from the "known good" list or have the rule removed.

[code]

[2016-09-03 20:17] client9 opened #89 "JSON output, perhaps gometalinter compatible"
interestingly gometalinter emits a JSON array.  I was expecting one-JSON-object-per-line style.

(line breaks added for clarity)
[code]

[2016-09-11 19:31] scop opened #90 "False negative: suport"
suport->support, ...

[2016-10-04 00:18] cyli opened #92 "False negative: "satisy""
misspell does not catch "satisy", which should be "satisfy"

[2016-10-14 20:14] thejacobtaylor opened #93 "False spelling mistake \nto"
I have logging statements that show up as spelling mistakes:
fmt.printf("from: %s\nto: %s\n....

\nto is being considered "nto" a common misspelling of not. Can you please include a check for a preceding slash?

Excellent product!

Thanks!
Jacob

[2016-10-21 07:24] bf4 commented on #88
@client9 Is there any way to customize this or make an ignore list? (my go-fu is weak and I didn't find it). I have a strange correction:

[code]

I'm running this in a `pre-commit` hook on a Ruby project and it generally works great! 💯

[code]

I can create a new issue, but wasn't sure if this report deserves one.

[2016-10-21 07:30] bf4 commented on #88
oh, looks like I missed it in the docs but it's in `misspell --help`.

[code]

and this appears to be a bug in not respecting word boundaries, because it thinks it's a misspelling of `they`  as `htey`

[code]

[2016-10-31 23:36] elopio opened #94 "wrong suggestion"
I ran this nice tool and got back:
cmd/snap/cmd_run_test.go:353:8: "unreleated" is a misspelling of "unreleased"

This is a mistake, so thanks for catching it :) However, the correct suggestion should be "unrelated".

[2016-11-01 00:44] elopio opened #96 "False negative: isnt"
isnt  ==> isn't

[2016-11-03 03:46] davecgh opened #97 "Finds false positive in hex strings."
I noticed when running this on our code base that it incorrectly tags hex strings that have what looks like misspelled words.  In particular, consider the following hex string which is a golden string for double sha-256:

`4f8b42c22dd3729b519ba6f68d2da7cc5b2d606d05daed5ad5128cc03e6c6358`

I wonder if it would make sense to detect and ignore runs of hex digits?

[2016-12-12 05:57] bf4 commented on #4
ref https://github.com/client9/misspell/pull/57

[2017-01-05 15:25] mattfarina opened #99 "False negative: adresář as adres a misspelling of address"
Found while using gometalinter (which uses misspell).

The line of go code being read is:

[code]

It's obviously not in english but it took part of a word rather than a full word.

[2017-02-14 13:02] relistan commented on #93
I have several instances of this in one of my codebases as well.

[2017-04-07 18:27] carnegie-jwilliamson opened #102 "-source=go has no effect"
Commit f637716 removed the special handling to only check Go comments (commit 1aaafc0 is the next commit that passed CI).

With commit 49cf02c715,
[code]
This appears to be the correct behaviour. The misspelling in a comment is identified and the misspelling in the function name is ignored.

With commit 1aaafc0,
[code]
Now the misspelling in the function name is also identified.

[2017-04-13 20:24] client9 commented on #102
Hello, sorry for the delay.  I'm getting back into the swing of things.

I'll need to revisit the logic here.  Originally it was doing something very different for go, and not sure if the -source=go makes sense anymore or what.

In one case it was just treating it like a text file (check everything), later it just checked comments via parsing the source file.

Thoughts welcome on what you'd like t

[2017-04-13 20:24] client9 commented on #92
hi there. Looks good.  I will add it.

[2017-04-13 20:27] client9 opened #103 "False negative: itnerface, iterface, iternface -> interface"
False negative: itnerface, iterface, iternface -> interface

[2017-04-13 20:28] client9 commented on #94
definitely!  I'll take a look here.

[2017-04-13 20:28] client9 commented on #97
Definitely... there is some detection if the word is too long.  I'll revisit.

[2017-04-13 20:29] client9 commented on #102
See #47 as well

[2017-04-13 20:48] #103 closed

[2017-04-13 20:51] #92 closed

[2017-04-13 20:51] client9 commented on #93
crappers.  Ok, I'm on it guys.

[2017-04-13 21:07] #93 closed

[2017-04-13 21:08] client9 commented on #93
ok @relistan @thejacobtaylor  should be fixed!

[2017-04-13 21:10] client9 commented on #96
hello @elopio

I'll be adding back contractions later, as an optional check.

[2017-04-13 21:12] #90 closed

[2017-04-13 21:12] carnegie-jwilliamson commented on #102
I'm actually using it for non-Go sources (mostly C++, Java and JavaScript). It's important that it doesn't check strings because I have resource strings that I don't want changed, and changing function and variable names can obviously be a problem.

I threw together https://github.com/carnegie-jwilliamson/misspell/commit/5bb422c63e6131347491a507375a200e0eaadd04 , which is basically the old version

[2017-04-13 21:13] client9 commented on #99
sorry I missed this... investigating.

[2017-04-13 21:23] client9 commented on #102
ah righto.  I'm happy with a PR on this actually since i think its the Right Thing to do.

[2017-04-13 21:24] client9 commented on #97
I *think* you might have been using a old version.  I was unable to replicate the problem :-|

[2017-04-13 21:24] #97 closed

[2017-04-13 21:25] carnegie-jwilliamson commented on #102
https://github.com/client9/misspell/pull/104

[2017-04-13 23:37] client9 commented on #102
coolio.. some minor merge issues (client9 vs. 	carnegie-jwilliamson) but I'll sort it out.

[2017-04-13 23:51] client9 commented on #102
ok it's in.
thanks so much!
n

[2017-04-13 23:51] #102 closed

[2017-04-13 23:51] client9 commented on #47
fixed.

[2017-04-13 23:51] #47 closed

[2017-04-14 08:59] karalabe opened #105 "Latest misspell broke binary strings"
If I see it correctly, it a string contains `//`, misspell will start a spell check on it. Of course if I have a large binary blob embedded via go-bindata, the probability is fairly large to have both `//` in a string and a "misspelling" afterwards.

E.g. https://github.com/ethereum/go-ethereum/blob/master/cmd/puppeth/module_dashboard.go#L391

Causing:

[code]

[2017-04-14 09:09] karalabe commented on #105
Most trivial repro:

`var variable = "ect"`

[2017-04-14 09:16] karalabe commented on #105
Further inspection, it works correctly if I explicitly specify `--source=go`, so it would seem that it fails detecting that my file is Go and switching to the new `ReplaceGo` (https://github.com/client9/misspell/pull/104) method.

[2017-04-14 09:23] karalabe commented on #105
However explicitly specifying go will make it go belly up on non Go files in my repo, so it seems I'm in a deadlock here.

[2017-04-14 16:56] relistan commented on #93
Thanks!

[2017-04-17 13:57] carnegie-jwilliamson commented on #102
Thanks.

[2017-04-17 23:49] elopio commented on #96
sounds good. Thanks.

[2017-04-22 20:50] kpcyrd opened #106 "False positive: "keychan" is a misspelling of "keychain""
Spoiler: this is probably difficult to implement :)

keychan is a "key channel". You could try to detect if:
- the variable in question is a channel
- the variable ends with `chan`
- removing chan from the variable name fixes the error

and suppress the error if that actually works.

[2017-05-27 17:09] mholt opened #108 "vendor folder support?"
Thanks for this tool; I use misspell in Caddy's CI tests. We're vendoring our dependencies though and this is proving to be a problem for our checks because misspell does not work well with vendor folders, where I don't care if there are misspellings.

Old CI command:

[code]

Works great, except it checks the `vendor/` folder, which I need to avoid.

[code]

Doesn't work because misspell doesn't

[2017-05-27 18:54] client9 commented on #108
Biggest complaint I have is regarding file selection.  That's good since people like you want to use it!

I'm on it!

n

[2017-05-27 19:04] mholt commented on #108
Thanks! I was pleased to find (just a few minutes ago) that somehow this tool works with `gometalinter --vendor` -- I'm not sure why that is, but maybe you'd know. Anyway, I think I can continue using it with gometalinter for now!

[2017-05-27 19:13] client9 commented on #108
Oh great, yeah I know since I added it to gometalinter :-)  Yeah it's a good tool for people using golang.  And that reminds me... I need to update it.

I'll still add file/path selection for those  who don't use go.

[2017-05-27 19:18] client9 commented on #108
i'll update the readme to highlight gometalinter too   thanks for writing in!

[2017-05-27 19:29] client9 commented on #99
[code]

[2017-05-27 20:26] client9 opened #109 "allow inspection of .git/COMMIT_EDITMSG and .git/TAG_EDITMSG"
normally we don't look at anything in `.git` but `COMMIT_EDITMSG` and `TAG_EDITMSG` are used as temp files for git commits.  Allowing `misspell` to inspect these files allows for commit-msg hooks

https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks

[2017-05-27 20:35] #109 closed

[2017-05-28 01:27] client9 commented on #108
FWIW @mholt I think this will work too:

[code]

You run it again and look at `.txt`, `.md` and other files as well

[code]

There are no doubt crazy `find` and `grep` tricks that can do this all in one pass, this works and seems fast enough.

Also note to self: need to check out caddy more.  Great project!

[2017-05-28 01:59] client9 opened #110 "Add autogenerated file warning to 'words.go'"
The 'words.go' is autogenerated and has a specific sort order.

[2017-05-28 01:59] client9 opened #111 "Add check to make sure words.go is sorted correctly so PR fail properly"
words.go is in a special order.  If you add words to the end, then the PR should fail.

[2017-05-28 02:48] #110 closed

[2017-05-28 02:48] #111 closed

[2017-05-28 03:25] client9 opened #112 "need some legal stuff on how stringreplacer is a cut-n-paste from Google under BSD"
need some legal stuff on how stringreplacer is a cut-n-paste from Google under BSD

[2017-05-28 03:51] #112 closed

[2017-05-28 05:55] mholt commented on #108
@client9 Thanks for the tips! I'll look those up for next time, unix is amazing... and I do hope you find Caddy useful!

[2017-05-28 05:55] #108 closed

[2017-05-30 17:07] markjen opened #113 "case insensitive check finding false positives"
Looks like a recent change has switched this tool to be case insensitive, causing false positives like this:

"importEnd" is a misspelling of "imported"

The README currently says the tool is meant to understand camel cased code and parse it as multiple words; not sure if this is an intended design/behavior change or an issue.

[2017-05-30 17:19] client9 commented on #113
oh crap.  You are right.

will fix.

thanks @markjen

[2017-05-30 20:33] client9 commented on #113
Hi @markjen
the goal is to never have a false positive, so this is error, not a design change.

I just pushed a fix and we release shortly.

thanks for your report.

n

[2017-05-31 22:06] client9 commented on #113
fixed in release 0.2.1

[2017-05-31 22:06] #113 closed

[2017-06-14 18:05] silverwind opened #115 "Support .gitignore"
It'd be great if paths defined in `.gitignore` (or possible a dedicated `.mispellignore`) could be ignored, so I can run `misspell *` without the tool venturing into my `node_modules` or other checking other untracked files.

[2017-06-14 19:13] client9 commented on #115
oh interesting idea @silverwind

It's on my list.  It's the #1 feature request "How I can exclude files"

[2017-06-14 19:14] client9 commented on #115
in the meantime, if you can, you can do something like this

[code]

I know that's gross.  But might help in short term.  Ping me if you need help.

regards,

n

[2017-06-15 09:10] silverwind commented on #115
Thanks. For now I'll just use multiple globs to target only the files that I cafe about. It's probably also possible to exclude paths with extended shell globs, but that's getting pretty esoteric.

[2017-06-16 15:55] silverwind opened #116 "Plural lost in "comparions" -> "comparison""
I think the plural should be kept here, so "comparisons" would be a better suggestion.

[2017-06-18 17:45] client9 commented on #115
Note to me: https://git-scm.com/docs/gitignore

[2017-06-25 07:13] scop opened #118 "False positive: hardlinked -> hardline"

[2017-07-04 02:34] client9 commented on #118
oh thats bad.

[2017-07-24 15:43] btracey opened #119 "False positives with "er" endings"
misspell gives " warning: "Statuser" is a misspelling of "Stature" (misspell)"

However, the type is actually
[code]
which is just following Go naming conventions.

[2017-07-30 20:57] client9 commented on #119
sorry for delay here.. I'll take a look later tonight

[2017-07-31 01:57] client9 commented on #119
wow ok I misread this as `StatUser`

I highly doubt anyone types `Statuser` for `Stature` so i'll unwind this rule.   Not sure why it's in.

[2017-08-08 03:47] shawnps opened #120 "false negative: formating"
should correct to "formatting"

[2017-08-08 03:51] shawnps commented on #4
+1, would be good to have something in the README or a CONTRIBUTING file on how to update word list so folks can make PRs

[2017-09-11 08:34] krisoul opened #121 "it cann't recongnize many simple words, like "father", "implement", "application""
![tim 20170911162917](https://user-images.githubusercontent.com/3422759/30265399-9c07aa50-970e-11e7-9249-acafd78930a1.png)

you see, it seems has a low accuracy, :sob:

i can not believe it cann't recongnize those simple words, like "father", "implement", "application"

[2017-09-15 01:36] client9 commented on #121
Hello,

thanks for the report.

It doesn't attempt to identify all misspelled words, only those that are commonly misspelled that have one likely correct spelling.   But is a what is common?   Hard to say.  I looked at a few existing lists, and scanned a few billion reddit messages and took the most common.  And then I focus on one mostly found in software related fields.  I've also found native E

[2017-10-08 20:57] alarsyo opened #123 "False positive with escaped characters"
My string is:
[code]
And `misspell` picks up `\nto` as a misspelling of `not`.

[2017-11-30 16:51] nvanbenschoten opened #126 "DictAmerican: marshalling->marshaling but unmarshalling not unmarshaling"
I stumbled upon a small inconsistency in https://github.com/cockroachdb/cockroach/pull/20342 where the US locale corrects `marshalling` to `marshaling` but does not correct `unmarshalling` to `unmarshaling`. I'd guess that the reverse is probably true of the UK locale too. Is this something that could be corrected easily?

[2017-12-10 17:47] 0xmohit opened #128 "Installation fails using the install script"
Attempting to install `misspell` using [`install-misspell.sh`](https://github.com/client9/misspell/blob/master/install-misspell.sh) fails.  The failure appears to be the incorrect version computed [here](https://github.com/client9/misspell/blob/master/install-misspell.sh#L232).

[code]

[2018-07-04 07:40] idealhack opened #136 ""seperate" itself is a misspelling of "separate""
https://en.wiktionary.org/wiki/seperate

But misspell suggests to use it.

[2018-08-02 14:50] rishubhjain opened #137 "Provide an option to skip particular directories."
may be add another flag to skip directories or files ending with particular extensions. --skip

[2018-09-20 11:16] Luzifer commented on #99
Same happens with german umlauts:

[code]

So it seems something stops reading words on non-ascii chars…

[2018-10-25 11:41] vyskocilm opened #141 "False negative: package imports"
Hi,

I got few errors about my import paths -

[code]

I'd say that it should ignore "mispells" in import section, because those are not words, but identifiers.

[2018-10-25 12:03] cznic commented on #141
I don't think misspell knows or should know what format its input files are.

[2018-10-26 13:09] vyskocilm commented on #141
Oh I assumed because it is written in go, it understand go source files :-)

So isn't there a way how to supress the false negative? nucular happens to be name of real go package, so I can't avoid using it.

[2018-10-26 14:50] cznic commented on #141
See the [`-i`](https://github.com/client9/misspell#usage) flag.

[2018-10-29 07:32] vyskocilm commented on #141
ok, thanks

[2018-10-29 07:32] #141 closed, assigned to nobody

[2018-11-12 10:39] grazimdeoliveira7 commented on #136
😈 dia da separação

[2018-11-15 18:48] corburn opened #144 "'except' typo in legal.go"
There's a certain irony to having a typo here 😄 (thank you for making this program).

https://github.com/client9/misspell/blob/c0b55c8239520f6b5aa15a0207ca8b28027ba49e/legal.go#L6

[2018-12-21 02:51] petems opened #147 "Ignore simlinks"
Awesome project, thank you!

I'm trying to figure out if there's a way to ignore simlinks...

The repo I'm using has a lot of simlinks:

[code]

Thanks!

[2018-12-23 01:08] dmitshur opened #148 "Misspellings in misspel."
There are misspellings in `misspell` that `misspell` itself can be used to find. They're not intentional, are they? Have you considered using `misspell` on `misspell` itself?

[code]

I'll send a PR to fix these for review. **Edit:** Sent PR #149.

[2018-12-24 11:02] petems commented on #147
I just realised that this could be solved easily by a good use of `find`:

[code]

[2018-12-24 11:02] #147 closed, assigned to nobody

[2019-01-24 10:59] Raphencoder opened #150 "Can we use it as a python library ?"
Hi, well done for all this good work, the work here is pretty impressive!

The question is maybe a dummy one, but I didn't find a way to implement this into a python library...
Is there a way to implement it as a library? Even a go library!

Thanks :+1:

[2019-01-29 23:16] leonklingele opened #151 "Ignore misspellings in variable names if correction contains a colon"
I ran this tool against the Go source:

[code]

`alltime` in this case is a variable and as variables are not allowed to contain colons, this warning should not be issued.

Are there any other cases when the correction is not applicable?

[2019-02-19 12:30] scop opened #152 "Segfault with -f csv|sqlite"
[code]

[code]

[2019-04-15 14:20] rgooch commented on #118
Hello. Has there been any progress fixing this? There's been no activity for almost 2 years.
I would send a PR for `words.go` but apparently the code is generated automatically and I don't see where the code generator DB is.

[2019-05-09 11:06] korjavin opened #154 "What use to check Spanish or Italian mispell"
Can I configure this linter, or maybe you guys know something else?

[2019-05-18 08:44] idealhack commented on #136
closed due to inactivity

[2019-05-18 08:44] #136 closed, assigned to nobody

[2019-06-22 23:18] GaussianZero opened #156 "Please document basic usage"
I can't get the basic hello world example to work, maybe I'm just being dense? Can you please document how to use this library for the simple use case of correcting a word that is misspelled?

[code]

Results:
[code]

[2019-06-22 23:18] GaussianZero commented on #156
I would expect this to correct "whlie" -> "while"

[2019-06-22 23:33] GaussianZero commented on #156
Just realized that the rule of "whlie" -> "while" is not in this library, so perhaps this is "working as intended"? The above code works with "langauge" -> "language"

This seems like a bit of a miss from this library (i.e. shouldn't mispellings one or two edit distance away be picked up as misspellings?) I can do this on my own of course, but I'd prefer this library do it for me...

[2019-07-02 16:07] pdobb commented on #137
@rishubhjain see https://github.com/client9/misspell/issues/115

[2019-07-18 22:21] ciwasaki commented on #116
On the other hand, sometimes it recommends a plural when I think that it should not. For example:
[code]
I think that it should correct to `collision` here.

[2019-08-04 23:26] ghost opened #158 "Line 45: warning: "CONTROLERS" is a misspelling of "CONTROLS" (misspell)"
It is very correct that "controler" is a misspelling. However, "controler" is my misspelling of "controller".

[2019-08-12 13:36] mwat56 commented on #151
@leonklingele

Use CamelCase instead.

[2019-08-27 23:16] fhs opened #159 "misspell should ignore go.sum file"
misspell complains about spelling in auto-generated file `go.sum`:
[code]

[2019-09-08 14:33] lmorg opened #160 "Escape sequences treated as regular characters"
`misspell` isn't validating escape sequences and sometimes treating them as misspellings. eg

Would return

where "nto" is actually "\nto" (ie `byte(13) + "to"` rather than `byte(110) + "to"`)

Please note, error message taken from https://goreportcard.com - issue raised https://github.com/gojp/goreportcard/issues/294

[2019-09-26 14:09] nnpcYvIVl commented on #152
I'm having the same problem with version 0.3.4.
[code]

[2020-01-12 11:11] DasyDong commented on #150
I am also looking for a good spell-checking library for python.
I use python enchant ,however it's not satisfied currently. [spell-check-go](https://github.com/DasyDong/spell-check-go)
Have you found better python library? @Raphencoder

[2020-01-12 14:20] Raphencoder commented on #150
Hi @DasyDong ,
Yes I found this library who is pretty awesome!
https://github.com/bakwc/JamSpell

[2020-01-13 14:21] DasyDong commented on #150
Sounds good .Thanks a lot

[2020-02-27 20:51] nektro commented on #115
Is this still being worked on?

[2020-02-28 13:52] CathalMullan commented on #115
For anyone stumbling upon this, this command should work for you.

[code]

[2020-02-28 14:10] nektro commented on #115
I wrote #169 to fix this @client9

[2020-03-03 11:36] nelljerram opened #170 "False positive for string "... \nto ...""
The "nto" reports at https://goreportcard.com/report/github.com/projectcalico/felix#misspell are wrong.  The string concerned is "Connectivity was incorrect:\n\nExpected\n    %s\nto match\n    %s" and the "nto" is actually a newline ("\n") followed by "to".

[2020-03-24 09:52] 1060ki opened #172 "False Positive "analyses""
"analyses" is not misspell

[2020-03-24 09:53] 1060ki commented on #172
https://github.com/client9/misspell/blob/c0b55c8239520f6b5aa15a0207ca8b28027ba49e/words.go#L29393

[2020-04-05 11:36] iio7 opened #173 "Use aspell, hunspell, ispell, etc."
Could this not be made to use any of the (x)spell word lists?

[2020-06-05 01:38] #172 closed, assigned to nobody

[2020-09-22 19:08] bvwells opened #178 "Misspellings of omitempty"
It would be great if misspell could catch misspellings of omitempty. Recently I have seen these misspellings:

ompitempty
omitemtpy

For example:
https://github.com/openshift/installer/pull/4166/files
https://github.com/cloudflare/cloudflare-go/pull/531
https://github.com/cloudflare/gokeyless/pull/279
https://github.com/sky-uk/skyinfoblox/pull/74
https://github.com/openshift/machine-config-operato

[2020-11-10 03:09] jufemaiz commented on #126
Is marshalling really a misspelling of marshaling?

Ref: https://en.wikipedia.org/wiki/Marshalling_(computer_science)

[2020-12-19 11:13] rickstaa opened #181 "Add ability to specify options through a misspell config file"
I use this amazing tool inside several Github actions. Since supplying all the corrections I want to ignore using the `-i` flag is impractical it would be nice if we could simply these corrections using a config file (`.misspell.cfg`).

[2021-01-04 11:00] lmorg commented on #170
I've also raised this: https://github.com/client9/misspell/issues/160

[2021-01-24 03:41] maphew opened #182 "Towards a Canadian locale dictionary"
I would like to be able to convert from US and United Kingdom english to Canadian english. What is needed to be able to add a `-locale CA ` to misspell?

I'm willing to do some heavy lifting to see this happen. I don't know anything about Go but I do have familiarity with python, and presumably the real work is in the word pair data files which likely don't have too much programming language speci

[2021-02-06 19:10] thediveo commented on #160
One year later and misspell still doesn't handle a typical use case correctly. With lots of such false positives it quickly looses its quality.

[2021-02-06 19:11] thediveo commented on #170
Slowly nearing a year later and misspell still doesn't handle a typical use case correctly. With lots of such false positives it quickly looses its quality.

[2021-05-27 05:57] RaphaelPour opened #183 "Bad suggestion: expection is a misspelling of exception"
[code]

Please add [`exception`](https://www.dict.cc/?s=expection). The variable name is quite common for testing.

[2021-05-27 13:18] RaphaelPour commented on #183
Altough `expection` is a valid word, the more common word would be [`expectation`](https://www.dict.cc/?s=expectation).
Dicct.cc is also saying that the corresponding word is _rare_.

[2021-05-27 13:18] #183 closed, assigned to nobody

[2021-06-10 14:32] majolo opened #184 "Is this project abandoned?"
I've found this tool really helpful and there are some tiny changes I'd like to make (along with a fair few issues and PRs built up). @client9 you haven't merged any code since March 2018, I wonder if you would be willing to allow someone else to maintain this?

[2021-08-10 14:58] Antonboom opened #186 "Support more dictionaries"
[JetBrains spell checker](https://www.jetbrains.com/help/rider/Spell_Checking.html) uses dictionaries from [wooorm/dictionaries](https://github.com/wooorm/dictionaries/tree/main/dictionaries).

Maybe it would be possible to integrate it into this linter?

[2021-08-17 23:18] kolyshkin commented on #184
It seems it is. Can I recommend codespell? https://github.com/codespell-project/codespell

[2021-10-26 09:09] GlenDC opened #187 "ability to add additional custom wordlist"
First of all thank you for your hard work. I also tried to look for what I was looking for in the existing open and closed issues but couldn't really find it. If it is a duplicate issue please do close immediately and link to it. My apologies if so.

It would be very useful if I could add a wordlist to the root of a project to add additional words that should be accepted. This is often for technic

[2021-11-24 15:33] #184 closed, assigned to nobody

[2021-12-15 16:16] stmcginnis commented on #159
I believe this is typically handled by adding `go.sum` and `go.mod` to your `.misspellignore` file.

[2021-12-15 16:35] stmcginnis opened #189 "Add support for M1 Macs"
It would be great to have support for Apple silicon macOS now that they are more common.

Looks like `install-misspell.sh` would need to be updated in `is_supported_platform()` and a release tarball with the appropriate name would need to be created.

[2021-12-15 16:37] stmcginnis commented on #189
[code]

[2022-01-11 01:02] dgollahon opened #190 "Add support for MacOS Monterey (?)"
Hi there. It seems like there is an issue with `misspell` with MacOS Monterey. After updating, running `misspell` produces this error:

[code]

It seems like this could be remedied by building with go 1.11 instead of 1.10, per [this golang wiki entry](https://github.com/golang/go/wiki/MacOS12BSDThreadRegisterIssue).

I assume this is something that should be fixed here and not on my system because

[2022-02-26 13:19] stmcginnis commented on #190
More context: https://github.com/golang/go/wiki/MacOS12BSDThreadRegisterIssue

[2022-03-10 09:12] johanvdw commented on #150
FYI, I think https://github.com/codespell-project/codespell is the project with most traction in this area.

[2022-04-19 11:46] johngillott opened #191 "README build instructions update"
Hello :wave:

I attempted to install `misspell` following instructions provided in the README and encountered the following error:

[code]

It may be worth updating the README install section to follow the [recommended workflow](https://tip.golang.org/doc/go1.16#modules) for installing Go libraries which changed in 1.16. The install instruction would now be `go install github.com/client9/misspell/

[2022-04-20 10:48] Akasurde commented on #190
Any news?

[2022-06-23 19:01] manvindar opened #193 "cli is not working"
If I pass file as an argument `misspell Readme.md` then I don't get any output. what am I doing wrong?

[2022-08-25 13:36] pierrre commented on #7
Hello !
Sorry to bump this old issue.
What is the expected behavior currently ?

With the latest version v0.3.4, the import `github.com/broady/gogeohash` is corrected to "broadly".

Is that the expected behavior ?

[2022-10-21 23:29] ajiepangestu opened #195 "Does it support string with single quote?"
I use misspell as diagnostic in NeoVIM, but it doesn't work on string with single quote
![image](https://user-images.githubusercontent.com/10147928/197304761-552bff72-360e-4bc8-a944-7c48e8ae6a0a.png)

[2022-11-04 14:27] imadjamil commented on #193
I have the same problem, I installed it using go on windows 10, @manvindar how did you install it and on what type of OS?